<div class="form-group {{#if error}}has-error has-feedback{{/if}}">
  <label for="{{fieldId}}">{{{label}}} {{#ifCond field.allowNull false}}*{{/ifCond}}</label>
  {{{field-help-error error}}}

  <select id="{{fieldId}}" name="{{name}}"
    class="form-control" {{fieldAttrs}}
    {{#if field.formFieldMultiple}}multiple="multiple"{{/if}}
    we-select-url="/term" we-select-model="term">
    {{#if value}}
      {{#isArray value}}
        {{#each value}}
          <option selected="selected" value="{{this}}">{{this}}</option>
        {{/each}}
      {{else}}
        <option selected="selected" value="{{value}}">{{value}}</option>
      {{/isArray}}
    {{/if}}
  </select>

  <p class="help-block">{{{help}}}</p>
  {{{field-help-error error}}}
</div>
<script>$(document).ready(function() {
  we.components.select.init('#{{fieldId}}', {
    tags: true,
    url: '/vocabulary/{{field.vocabularyName}}/term',
    processResults: function processResults(data, params) {
      var values = null;
      if (data.term) {
        values = data.term.map(function(v){ return { id: v.text, text: v.text }; });
      }
      if (values) values.unshift( {
        text: params.term, id: params.term
      });
      return { results: values};
    }
  });
});</script>